div.view-id-uw_publications div.views-row,
div.view-id-uw_publications_filter div.views-row {
  margin-bottom: 1em;
}

div.view-id-uw_publications div.views-row li.biblio_google_scholar {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_crossref {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_bibtex {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_tagged {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_xml {
  display: none;
}

div.view-id-uw_publications div.views-row li.biblio_ris {
  display: none;
}

div.view-id-uw_publications div.views-row div.views-field-biblio-notes {
  color: #e00;
  margin-top: 0.2em;
}

div.view-id-uw_publications.view-display-id-block_1 ul li {
  margin-bottom: 0.75em;
}

div.biblio-category-section ul li.biblio_google_scholar {
  display: none;
}

div.biblio-category-section ul li.biblio_crossref {
  display: none;
}

div.biblio-category-section ul li.biblio_bibtex {
  display: none;
}

div.biblio-category-section ul li.biblio_tagged {
  display: none;
}

div.biblio-category-section ul li.biblio_xml {
  display: none;
}

div.biblio-category-section ul li.biblio_ris {
  display: none;
}

div.biblio-export {
  display: none;
}

#site-sidebar select#edit-lastname,
#site-sidebar select#edit-tid,
#site-sidebar select#edit-field-bibliography-keywords-ref-tid,
#site-sidebar #edit-biblio-year {
  max-width: 215px;
  min-width: 215px;
}

#content .view-uw-publications .view-content {
  padding-top: 20px;
}

.biblio-sort-desc a {
  background: url("../image/arrow-desc.png") no-repeat scroll 0px;
  padding-left: 15px;
}

.biblio-sort-asc a {
  background: url("../image/arrow-asc.png") no-repeat scroll 0px;
  padding-left: 15px;
}

.view-display-id-author_asc .view-content h3,
.view-display-id-author_desc .view-content h3,
.view-display-id-author_by_letter .view-content h3,
.view-display-id-type_asc .view-content h3,
.view-display-id-type_desc .view-content h3,
.biblio-alpha-title h3 {
  border-bottom: 1px solid #fcd450;
}

#block-views-uw-publications-block-1 {
  margin-top: 20px;
}

#biblio-node table td.biblio-row-title {
  background-color: #eee;
}

#biblio-node table td {
  background-color: #fff;
}

.biblio-filter-status {
  margin-top: 10px;
}

.biblio-filter-no-results {
  border-top: solid 1px #fcd450;
  margin-top: -4px;
}

#edit-biblio-ris-paste,
#edit-biblio-doi-lookup,
#edit-biblio-cut-paste {
  display: none;
}

.biblio-category-section .biblio-separator-bar {
  color: none;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: 1.3em;
  color: #111;
  margin-bottom: .8em;
  padding-bottom: 1px;
  border-bottom: 1px solid #fcd450;
}

.biblio-category-section {
  margin-top: 20px;
}
